.upper-div-transfer{
    background-color: #F1F3FF;
    display: flex;
    justify-content: center;
    height: 100px;
    padding-top: 30px;
}

.button-back-transfer{
    background-color: #F1F3FF;
    display: flex;
    align-items: center;
    width: 80%;
    text-decoration: none;
    color: black;
}


.arrow-image-container{
    margin-right: 15px;
}

.arrow-text{
    font-weight: 600;
}

.details-container-transfer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.details-container {
    display: flex;
    width: 80%;
}

.details-transfer-left {
    width: 65%;
    /* border: 1px solid #8b8b8b; */
}

.details-transfer-left-upper{
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -12px #2b2b2b;
}

.banks-container{
}

.bank-container {
    margin: 20px 0px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
}

.bank-button{
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bank-text{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.title-rekening{
    margin-bottom: 20px;
}

.content{
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 15px;
    font-weight: 600;
}

.text-instruction{
    margin-top: 20px;
    color: #b4b4b4;
}

.car-transfer-price{
    font-size: 14px;
}

.details-transfer-right-checkout{
    width: 35%;
    height: 150px;
    margin-left: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -12px #2b2b2b;
}

.details-container-right-inner{
    padding: 25px;
}

.car-container-image{
    width: 250px;
}

.car-image{
    width: 250px;
}

.car-details-container{
    display: flex;
}

.car-name{
    font-size: 16px;
    font-weight: 600;
}

.car-book-text{
    color: #8d8d8d;
    font-size: 12px;
    margin: 0px 10px 0px 5px;
}

.car-book-price{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button-right-details-container {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #5CB85F;
    font-weight: 600;
}

.button-right-details-container:hover {
    background-color: #51a754;
}

.button-right-details {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.button-center-container-outer{
    display: flex;
    justify-content: center;
}

.button-center-container {
    width: 200px;
    height: 40px;
    margin: 30px 0px;
    background-color: #5CB85F;
    font-weight: 600;
}

.button-center-container:hover {
    background-color: #51a754;
}

.button-center {
    text-decoration: none;
    color: white;
    font-size: 14px;
}